.homepage {
    display: flex;
    justify-content: space-around;
    width: 120%;
    height: auto;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.left-column {
    width: 25%;
    height: 100%;
}

#homeText {
    margin-top: 6px;
    font-size: 45px;
    font-weight: 900;
    width: fit-content;
}

.head-decoration {
    margin-top: 10%;
    height: 6px;
    width: 31%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#l1 {
    width: 25%;
    background-color: #E1D0FC;
    border-radius: 25px;
}

#l2 {
    width: 17%;
    background-color: #E791EA;
    border-radius: 25px;
}

#l3 {
    width: 10%;
    background-color: #8f28e3;
    border-radius: 25px;
}

#l4 {
    width: 6%;
    background-color: #5603AD;
    border-radius: 25px;
}

#l5 {
    width: 6%;
    background-color: black;
    border-radius: 25px;
}

input {
    border-radius: 20px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    padding: 0.5rem;
    margin: 4px;
    font-size: 1rem;
}

/* .filterText {
    font-size: 20px;
    width: 90px;
    margin: 20px 0px;
    font-weight: 300;
} */

.search-bar {
  margin-top: 12%;
  width: 80%;
  height: 70%;
  background: #5603AD;
  color: white;
  padding: 7% 10%;
  border-radius: 40px;
}

.searchbut {
  height: 10%;
  width: 80%;
  background-color: #d085e5;
  border-radius: 25px;
  border-color: #d085e5;
  text-align: center;
  line-height: 200%;
  font-size: 20px;
  margin-top: 12%;
  margin-left: 4%;
  color: white;
  font-family: 'Sora', sans-serif;;
}

.category {
  margin-top: 20px;
}

.category > .title {
  font-size: 20px;
  font-weight: 400;
  color: #E1D0FC;
  width: fit-content;
  margin-bottom: 10px;
}

.newPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20%;
    height: 60px;
    background: #8f28e3;
    border-radius: 20px;
    font-size: large;
    font-family: 'Sora', sans-serif;;
    font-weight: 300;
}

.right-column {
    width: 55%;
    height: 650px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple rgb(72, 169, 215);
    scrollbar-width: thin;
}
/* Customize the label (the container) */
.container {
    display: flex;
    width: 100%;
    position: relative;
    padding-left: 2.5vw;
    padding-right: 1vw;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 15px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2vw;
}
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2vw;
    width: 2vw;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #d085e5;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
