.item {
    height: 220px;
    width: 100%;
    border-radius: 50px;
    background-color: #E1D0FC;
    border: #E1D0FC 1px solid;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    height: 80%;
    width: 25%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image > img {
    width: 100%;
    max-height: 100%;
}

.info {
    height: 80%;
    width: 60%;
    margin-left: 30px;
    font-family: 'Sora', sans-serif;;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.username {
    display: flex;
    font-size: 19px;
}

.description {
    font-size: 19px;
    display: block;
    text-align: left;
}

.price {
    display: flex;
    font-size: 19px;
}

.tags {
    display: flex;
    font-size: 19px;
}

.each-tag {
    width: 90%;
    display: flex;
    justify-content: space-around;
}