.newpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
}

.navHolder {


}

.listText {
    font-weight: 900;

}


.box {


}

.formbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20%;
    width: 100%;
    height: 60%;
    background: #7F9767;
    padding: 17% 20%;
    border-radius: 5%;
    font-weight: 300;
}

.topborderbox{
    /*        position: absolute;*/
    width: 1379px;
    height: 61px;
    /*        left: 28px;
            top: 17px;*/
    border: 8px solid #000000;
    box-sizing: border-box;
}