input {
    box-sizing:border-box;
    display: flex;
    width: 100%;
}

select {
    box-sizing:border-box;
    display: flex;
    width: 100%;
}

.newpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    /* justify-content: space-between; */
}

.listText {
    display: flex;
    font-weight: 900;
    font-size: 22px;
    color: #E1D0FC;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: center;
}

.formbox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 10%;
    height: 70%;
    width: 100%;
    background: #5603AD;
    padding: 0% 10% 0% 10%;
    border-radius: 5%;
    font-weight: 300;
}

.newPostSelect {
    display: flex;
    border-radius: 20px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    padding: 0.5rem 1rem;
    margin: 4px;
    font-size: 1rem;
    font-family: 'Sora', sans-serif;
} 

.topborderbox{
    /*        position: absolute;*/
    width: 1379px;
    height: 61px;
    /*        left: 28px;
            top: 17px;*/
    border: 8px solid #000000;
    box-sizing: border-box;
}

 /* CSS */
.button-6 {
     align-items: center;
     background-color: #E791EA;
     border: 1px solid #a361a5;
     border-radius: .9rem;
     /* box-shadow: #a361a5 0 1px 3px 0; */
     box-sizing: border-box;
     color: rgba(0, 0, 0, 0.85);
     cursor: pointer;
     display: inline-flex;
     font-family: 'Sora', sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 1.25;
     margin: 4px 20% 5% 20%;
     min-height: 3rem;
     padding: calc(.875rem - 1px) calc(1.5rem - 1px);
     position: relative;
     text-decoration: none;
     transition: all 250ms;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: #a361a5;
    /* box-shadow: #a361a5 0 4px 12px; */
    /* color: rgba(0, 0, 0, 0.65); */
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: #a361a5;
    /* box-shadow: #a361a5 0 2px 4px; */
    /* color: rgba(0, 0, 0, 0.65); */
    transform: translateY(0);
}